@import "./styles.css";

.cohorts__main {
    width: 100%;
    max-width: 100%;
    min-height: 100vh;
}

.cohorts__main .main__center {
    width: 100%;
    max-width: 100%;
    background-color: #121212;
}

/* Section Heads */

.section__heads {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 3rem;
}

.section__heads .head__vector {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 3px solid var(--primary);
}

.section__heads .head__title {
    position: absolute;
    left: 30px;
    font-family: var(--font-lato);
    font-style: normal;
    font-weight: 500;
    font-size: 1.7rem;
    color: #FFFFFF;
    background-color: #121212;
    line-height: 40px;
    text-align: center;
    display: flex;
    align-items: center;
    gap: 0.3rem;
}

.section__heads .head__title ion-icon {
    border: 1px solid #fff;
    margin: 0 0rem 0 0.6rem;
    font-size: 20px;
    padding: 4px;
    border-radius: 50%;
    cursor: pointer;
}

.section__heads .head__title span {
    color: var(--primary);
}

@media all and (max-width : 500px) {
    .cohorts__section6 .section__heads .head__title {
        font-size: 1.4rem;
    }
}

/* Section Heads */

/* Section 2 : Why Cohorts? : FSD, DS, CC */

.bg__gradient {
    width: 100%;
    height: 100%;
}

.fsd2bg__grad {
    background: linear-gradient(180deg, #121212 20%, #090D69 88.75%, #121212 100%);
}

.ds2bg__grad {
    background: linear-gradient(180deg, #121212 20%, rgba(165, 0, 223, 0.6) 88.75%, #121212 100%);
}

.cc2bg__grad {
    background: linear-gradient(180deg, #121212 20%, rgba(128, 0, 84, 0.6) 88.75%, #121212 100%);
}

.cohorts__section2 {
    width: 1164px;
    max-width: 96%;
    height: 100%;
    margin: auto;
    padding: 2rem 0;
}

.cohorts__section2 .cohort2__content {
    width: 97%;
    max-width: 100%;
    margin: auto;
    height: 420px;
    /* background: #FFFFFF; */
    border: 3px solid #FFFFFF;
    /* box-shadow: 0px 0px 10px #FFFFFF, 0px 0px 10px #FFFFFF; */
    border-radius: 12px;
    padding: 2rem 0.8rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.cohort2__content .cohort2__side1 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0.4;
}

.cohort2__side1 img {
    width: 320px;
    border-radius: 9px;
}

.cohort2__content .cohort2__side2 {
    width: 100%;
    flex: 0.8;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.cohort2__side2 .cohort2__whybox {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0.8rem;
    gap: 0.8rem;
    background: #FFFFFF;
    border: 1px solid #939393;
    border-radius: 13px;
}

.cohort2__whytitle {
    font-family: var(--font-lato);
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #232323;
}

.cohort2__whydesc {
    font-family: var(--font-lato);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #636363;
}

@media all and (max-width : 1044px) {

    .cohorts__section2 .cohort2__content {
        display: flex;
        flex-direction: row;
        height: 100%;
        gap: 2rem;
        padding: 1.4rem 0.7rem;
    }

    .cohort2__content .cohort2__side1 {
        flex: 0.9;
    }

    .cohort2__side1 img {
        width: 100%;
        height: 500px;
        object-fit: cover;
    }

    .cohort2__side2 .cohort2__whybox {
        width: 200px;
        height: 200px;
    }
}


@media all and (max-width : 1030px) {
    .cohort2__content .cohort2__side1 {
        flex: 0.5;
        justify-content: center;
    }

    .cohort2__side1 img {
        width: 100%;
        height: 300px;
        object-fit: cover;
    }
}

@media all and (max-width : 810px) {
    .cohorts__section2 .cohort2__content {
        display: flex;
        flex-direction: column;
        height: 100%;
        gap: 2rem;
        padding: 1.4rem 0.7rem;
    }

    .cohort2__side2 .cohort2__whybox {
        width: 300px;
        height: 150px;
        flex: 0 0 auto;
        justify-content: flex-start;
        margin: 1rem auto;
    }
}

@media all and (max-width : 710px) {
    .cohort2__content .cohort2__side2 {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        width: 100%;
        overflow-x: scroll;
        padding: 0 10px 0 0;
    }

    .cohort2__side2 .cohort2__whybox {
        width: 300px;
        height: 150px;
        flex: 0 0 auto;
        justify-content: flex-start;
        margin: 1rem auto;
    }

    .cohort2__side2::-webkit-scrollbar {
        height: 0;
    }

}

@media all and (max-width : 360px) {
    .cohort2__side1 img {
        height: 220px;
    }

    .cohort2__content .cohort2__side2 {
        gap: 0.6rem;
        align-items: flex-start;
    }

    .cohort2__side2 .cohort2__whybox {
        width: 240px;
        height: 100%;
        padding: 1rem 0.8rem;
    }

    .cohorts__section2 .cohort2__content {
        padding: 1rem;
        gap: 0.6rem;
    }

}

/* Section 2 : Why Cohorts? : FSD, DS, CC */

/* Section 3 : Heres Your Roadmap */

.fsd3bg__grad {
    background: linear-gradient(180deg, #121212 20%, #090D69 88.75%, #121212 100%);
}

.ds3bg__grad {
    background: linear-gradient(180deg, #121212 20%, rgba(165, 0, 223, 0.6) 88.75%, #121212 100%);
}

.cc3bg__grad {
    background: linear-gradient(180deg, #121212 20%, rgba(128, 0, 84, 0.6) 88.75%, #121212 100%);
}

.cohorts__section3 {
    width: 1164px;
    max-width: 96%;
    height: 100%;
    margin: auto;
    padding: 2rem 0;
}

.cohort3__content {
    width: 97%;
    max-width: 100%;
    margin: 1rem auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1.6rem;
    overflow-x: scroll;
    padding: 0 10px;
    position: relative;
}

.roadmap__box {
    background: #FFFFFF;
    border: 1px solid #121212;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 26px;
    width: 200px;
    height: 170px;
    padding: 0.8rem;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    margin: 0 auto 1rem auto;
    z-index: 2;
}

.roadmap__box img {
    height: 60px;
    width: 60px;
}

.roadmap__box p {
    font-family: var(--font-lato);
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #121212;
}

.back__line {
    position: absolute;
    width: 1100px;
    height: 2px;
    background-color: #fff;
}

@media all and (min-width : 1206px) {
    .cohort3__content::-webkit-scrollbar {
        height: 0;
    }
}

@media all and (max-width : 1205px) {
    .cohort3__content::-webkit-scrollbar {
        height: 10px;
    }

    .cohort3__content::-webkit-scrollbar-track {
        background-color: #121212;
        box-shadow: 0 0 2px #fff;
        border-radius: 4px;
    }

    .cohort3__content::-webkit-scrollbar-thumb {
        background-color: #fff;
        border-radius: 4px;
    }
}

@media all and (max-width : 700px) {
    .cohort3__content::-webkit-scrollbar {
        height: 0;
    }
}

@media all and (max-width : 400px) {
    .cohorts__section3 .section__heads .head__title {
        font-size: 1.5rem;
    }
}

/* Section 3 : Heres Your Roadmap */

/* Section 4 : Tools you will Learn */

.cohorts__section4 {
    width: 1164px;
    max-width: 96%;
    height: 100%;
    margin: auto;
    padding: 2rem 0;
}

.cohort4__content {
    width: 97%;
    max-width: 100%;
    margin: 1rem auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1.6rem;
    overflow-x: hidden;
}

.cohort4__toolbox {
    width: 200px;
    height: 100%;
    padding: 1rem 0.8rem;
    background: #FFFFFF;
    border: 3px solid #FFFFFF;
    border-radius: 20px;
    margin: 1rem auto;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.fsd4__content .cohort4__toolbox {
    animation: fsd4Tools 15s linear infinite;
}

.ds4__content .cohort4__toolbox , .cc4__content .cohort4__toolbox {
    animation: ds_cc4Tools 10s linear infinite;
}

.cohort4__toolbox img {
    width: 120px;
    height: 60px;
    object-fit: contain;
}

.cohort4__toolbox p {
    font-family: var(--font-lato);
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #121212;
}

@keyframes fsd4Tools {
    0% {
        transform: translateX(300%);
    }

    100% {
        transform: translateX(-1150%);
    }
}

@keyframes ds_cc4Tools {
    0% {
        transform: translateX(500%);
    }

    100% {
        transform: translateX(-600%);
    }
}

@media all and (max-width : 500px) {



    @keyframes ds_cc4Tools {
        0% {
            transform: translateX(200%);
        }

        100% {
            transform: translateX(-500%);
        }
    }
}

/* Section 4 : Tools you will Learn */

/* Section 5 : Course Structure  */

.cohorts__section5 {
    width: 1164px;
    max-width: 96%;
    height: 100%;
    margin: auto;
    padding: 2rem 0;
}

.cohort5__content {
    width: 97%;
    max-width: 100%;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;
}

.cohort5__data {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    flex-wrap: wrap;
    margin: 0.2rem auto 1rem auto;
}

.cohort5__coursebox {
    width: 300px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

@media all and (max-width : 600px) {
    .cohort5__coursebox {
        width: 100%;
    }
}

.cohort5__titlebox {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0.6rem;
    padding: 0.8rem 1rem;
    border: 2px solid #FFFFFF;
    border-radius: 12px;
    cursor: pointer;
}

.fsd5__titlebox {
    background: #090D69;
}

.ds5__titlebox {
    background: #A500DF;
}

.cc5__titlebox {
    background: #800054;
}

.cohort5__titlebox p {
    font-family: var(--font-lato);
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}

.cohort5__titlebox img {
    transition: transform 0.2s linear;
}

.cohort5__titlebox img.active {
    transform: rotate(-180deg);
}

.cohort5__listbox {
    width: 100%;
    height: 0;
    overflow-y: hidden;
}

.cohort5__listbox.active {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding: 0.6rem 0.2rem 0.6rem 1.4rem ;
    background: #FFFFFF;
    border: 3px solid #FFFFFF;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.8rem;
}

.cohort5__listbox li {
    font-family: var(--font-lato);
    font-style: normal;
    list-style-type: disc;
    font-weight: 400;
    font-size: 18px;
    text-align: left;
    color: #121212;
}

.cohort5__downloadbtn {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.8rem 0;
}

.cohort5__downloadbtn button {
    border: 1px solid #DFDCDC;
    background-color: #121212;
    padding: 0.8rem 2rem;
    border-radius: 9px;
    font-family: var(--font-lato);
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    cursor: pointer;
}

.fsd5__downloadbtn button {
    box-shadow: 0px 0px 40px 8px #090D69;
}

.ds5__downloadbtn button {
    box-shadow: 0px 0px 40px 8px #67028b;
}

.cc5__downloadbtn button {
    box-shadow: 0px 0px 40px 8px #74034c;
}

@media all and (max-width : 500px) {
    .cohort5__listbox li {
        font-size: 16px;
    }

    .cohort5__titlebox p {
        font-size: 18px;
    }

    .cohort5__data {
        gap: 1rem;
    }
}

/* Section 5 : Course Structure  */

/* Section 6 : Projects You will build */

.cohorts__section6 {
    width: 1164px;
    max-width: 96%;
    height: 100%;
    margin: auto;
    padding: 2rem 0;
}

.cohort6__content {
    width: 97%;
    max-width: 100%;
    margin: 1rem auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1.6rem;
    overflow-x: scroll;
    padding: 0 10px;
}

.cohort6__projectbox {
    background: #FFFFFF;
    border: 3px solid #FFFFFF;
    border-radius: 20px;
    margin: 1rem auto;
    flex: 0 0 auto;
    width: 240px;
    height: 100%;
    padding: 1rem 0.8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.cohort6__projectbox img {
    width: 120px;
    height: 60px;
    object-fit: contain;
}

.cohort6__projectbox p {
    font-family: var(--font-lato);
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #121212;
}

@media all and (min-width : 1140px) {
    .cohort6__content::-webkit-scrollbar {
        height: 0;
    }
}

@media all and (max-width : 1140px) {
    .cohort6__content::-webkit-scrollbar {
        height: 10px;
    }

    .cohort6__content::-webkit-scrollbar-track {
        background-color: #121212;
        box-shadow: 0 0 2px #fff;
        border-radius: 4px;
    }

    .cohort6__content::-webkit-scrollbar-thumb {
        background-color: #fff;
        border-radius: 4px;
    }
}

@media all and (max-width : 700px) {
    .cohort6__content::-webkit-scrollbar {
        height: 0;
    }
}

/* Section 6 : Projects You will build */

/* Section 7 : Fee Structure */

.cohorts__section7 {
    width: 1164px;
    max-width: 96%;
    height: 100%;
    margin: auto;
    padding: 2rem 0;

    position: relative;
}

.cohort7__content {
    width: 97%;
    max-width: 100%;
    margin: 1rem auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    overflow-x: scroll;
    padding: 0 10px;
    position: relative;
}

@media all and (min-width : 960px) {
    .cohort7__content::-webkit-scrollbar {
        height: 0;
    }
}

@media all and (max-width : 960px) {

    .cohort7__content {
        justify-content: flex-start;
    }

    .cohort7__content::-webkit-scrollbar {
        height: 10px;
    }

    .cohort7__content::-webkit-scrollbar-track {
        background-color: #121212;
        box-shadow: 0 0 2px #fff;
        border-radius: 4px;
    }

    .cohort7__content::-webkit-scrollbar-thumb {
        background-color: #fff;
        border-radius: 4px;
    }
}

@media all and (max-width : 800px) {
    .cohort7__content::-webkit-scrollbar {
        height: 0;
    }
}

.cohort7__feebox {
    flex: 0 0 auto;
    width: 280px;
    height: 424px;
    background-color: white;
    margin-right: 10px;
    scroll-snap-align: start;
    margin-bottom: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    padding: 0.8rem;

    border-radius: 20px;
    outline: 2px solid #121212;
    box-shadow: 9px 9px #ffffff;
}

.cohort7__feebox p {
    width: 100%;
    text-align: center;
    font-family: var(--font-lato);
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}

.cohort7__feebox ul {
    width: 100%;
    padding: 0.4rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.2rem;
}

.cohort7__feebox ul li {
    font-family: var(--font-lato);
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #121212;
    list-style-image: url('../Assets/CohortTick.svg');
}

@media all and (max-width : 400px) {
    .cohort7__content {
        gap: 1rem;
    }

    .cohort7__feebox {
        width: 260px;
    }
}

/* Popup */

.cohort7__popup {
    display: none;
}

.cohort7__popup.active {
    width: 100%;
    height: 500px;
    background-color: #fffffff5;
    border-radius: 9px;
    padding: 0.8rem 1rem;
    position: absolute;
    top: 20%;
    display: block;
}

.popup__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.popup__heading p {
    font-family: var(--font-lato);
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 48px;
    color: var(--primary);
}

.popup__heading button {
    background-color: transparent;
    padding: 6px;
    border: 2px solid #d30000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.popup__heading button ion-icon {
    font-size: 20px;
    color: #d30000;
}

.popup__content {
    width: 100%;
    max-width: 100%;
    height: 360px;
    padding: 1rem 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 1rem auto;

    overflow-x: scroll;
}

@media all and (min-width : 1125px) {

    .popup__content::-webkit-scrollbar {
        height: 0px;
    }
}

@media all and (max-width : 1124px) {

    .popup__content {
        justify-content: flex-start;
    }

    .popup__content::-webkit-scrollbar {
        height: 10px;
    }

    .popup__content::-webkit-scrollbar-track {
        background-color: #232323;
        border-radius: 6px;
    }

    .popup__content::-webkit-scrollbar-thumb {
        background-color: #008F06;
        border-radius: 6px;
    }
}

.popup__emibox {
    width: 320px;
    height: 100%;
    background-color: #fafafa;
    border: 2px solid #232323;
    border-radius: 9px;
    padding: 1rem;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;
}

@media all and (max-width : 500px) {
    .popup__emibox {
        width: 300px;
    }   
}

@media all and (max-width : 400px) {
    .popup__emibox {
        width: 260px;
    }   
}

.popup__emibox > p {
    font-family: var(--font-lato);
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 22px;
    color: #000000;
}

.popup__emidetails {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
}

.popup__emidetails .popup__emitype {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.popup__emitype p:nth-child(1) {
    font-family: var(--font-lato);
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 19px;
    color: #363636;
}

.popup__emitype p:nth-child(2) {
    font-family: var(--font-lato);
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 19px;
    color: #008F06;
}

.popup__emifinal {
    width: 100%;
    border-top: 2px solid #636363;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0 0 0;
}

.popup__emifinal p {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #008F06;
}

/* Popup */

/* Section 7 : Fee Structure */

/* Section 8 : Meet Your Mentors */

.fsd8bg__grad {
    background: linear-gradient(180deg, #121212 20%, #090D69 86.67%, #121212 100%);
}

.ds8bg__grad {
    background: linear-gradient(180deg, #121212 20%, rgba(165, 0, 223, 0.6) 86.67%, #121212 100%);
}

.cc8bg__grad {
    background: linear-gradient(180deg, #121212 20%, rgba(128, 0, 84, 0.6) 86.67%, #121212 100%);
}

.cohorts__section8 {
    width: 1164px;
    max-width: 96%;
    height: 100%;
    margin: auto;
    padding: 2rem 0;
}

.cohort8__content {
    width: 97%;
    max-width: 100%;
    height: 100%;
    margin: auto;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 6rem;
    padding-top: 2rem;
    
    /* For Now */
    flex-wrap: wrap;
}

.cohort8__mentorbox {
    width: 280px;
    height: 100%;
    padding: 1rem;
    background: #FFFFFF;
    border: 1px solid #121212;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 24px;

    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
    padding-top: 4rem;
}

.cohort8__mentorbox img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border: 2px solid #fff;
    border-radius: 50%;

    position: absolute;
    top: -64px;
}

.cohort8__mentorname {
    font-family: var(--font-lato);
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #121212;
    text-align: center;
}

.cohort8__mentordesc {
    font-family: var(--font-lato);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #636363;
    text-align: center;
}

.cohort8__mentorbox a ion-icon {
    font-size: 28px;
    color: #0077b5;
}

/* Section 8 : Meet Your Mentors */

/* Section 9 : Your Certificate */

.fsd9bg__grad {
    background: linear-gradient(180deg, #121212 20%, #090D69 88.75%, #121212 100%);
}

.ds9bg__grad {
    background: linear-gradient(180deg, #121212 20%, rgba(165, 0, 223, 0.6) 88.75%, #121212 100%);
}

.cc9bg__grad {
    background: linear-gradient(180deg, #121212 20%, rgba(128, 0, 84, 0.6) 88.75%, #121212 100%);
}

.cohorts__section9 {
    width: 1164px;
    max-width: 96%;
    height: 100%;
    margin: auto;
    padding: 2rem 0;
}

.cohort9__content {
    width: 97%;
    max-width: 100%;
    height: 100%;
    margin: 0.6rem auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.cohort9__content p {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
}

.cohort9__content img {
    width: 100%;
    object-fit: contain;
}

@media all and (max-width : 1024px) {
    .cohort9__content p {
        font-size: 18px;
        line-height: 26px;
    }
}

@media all and (max-width : 500px) {
    .cohort9__content p {
        font-size: 16px;
        line-height: 24px;
    }
}

@media all and (max-width : 400px) {
    .cohort9__content p {
        font-size: 14px;
        line-height: 20px;
    }
}

/* Section 9 : Your Certificate */

/* Section 10 : FAQ's */

.cohorts__section10 {
    width: 1164px;
    max-width: 96%;
    height: 100%;
    margin: auto;
    padding: 2rem 0 4rem 0;
}

.cohort10__content {
    width: 97%;
    max-width: 100%;
    height: 100%;
    margin: 0.6rem auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;
}

.cohort10__querybox {
    width: 76%;
    height: 100%;
    margin: auto;
    max-width: 98%;
    background: #FFFFFF;
    border: 1px solid #fff;
    border-radius: 9px;
    display: flex;
    padding: 1rem;
    flex-direction: column;
    gap: 0.2rem;
}

.cohort10__questionbox {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
}

.cohort10__questionbox p {
    font-family: var(--font-lato);
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    color: #000000;
}

.cohort10__questionbox img {
    padding: 8px 3px;
    border: 1px solid #232323;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.2s linear , transform 0.3s linear;
}

.cohort10__questionbox img:hover {
    background-color: #ededed;
}

.cohort10__questionbox img.active {
    transform: rotate(-180deg);
}

.cohort10__answerbox {
    width: 100%;
    height: 0;
    overflow-y: hidden;
    transition: all 0.2s ease-in-out;
}

.cohort10__answerbox.active {
    height: 100%;
    overflow-y: auto;
    margin: 1rem auto;
}

.cohort10__answerbox p {
    font-family: var(--font-lato);
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: justify;
    color: #636363;
}

@media all and (max-width : 1024px) {
    .cohort10__querybox {
        width: 98%;
    }
}

@media all and (max-width : 700px) {
    .cohort10__questionbox p {
        font-size: 18px;
    }

    .cohort10__answerbox p {
        font-size: 15px;
    }
}

@media all and (max-width : 500px) {
    .cohort10__questionbox p {
        font-size: 16px;
    }

    .cohort10__answerbox p {
        font-size: 14px;
    }
}

/* Section 10 : FAQ's */